{{!< default}}

<h1 style="text-align: center; margin-bottom: 10px;">Tag: {{tag.name}}.</h1>
<h3 style="text-align: center; margin: 0; font-size: 1rem;">
  {{#if tag.description}}
    {{tag.description}}
  {{else}}
    A {{pagination.total}}-post collection
  {{/if}}
</h3>
<ol id="posts-list">
  {{#foreach posts}}
  <li>
    <time datetime="{{date format="DD MMM YYYY"}}">{{date format="DD MMM YYYY"}}</time>
    <a href="{{url}}" title="Read more about '{{title}}'">{{title}}</a>
    <span class="post tags">{{tags separator=" "}}</span>
  </li>
  {{/foreach}}
</ol>

{{pagination}}
